body{
margin: 50px;
background-color: lightblue;
font-family: 'Kaushan Script', cursive;
font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Roboto Mono', monospace;
}



.navbar-brand > img {
    display: block;
}
.logo {
    position: absolute;
    width: 140px;
    height: 70px;
    margin-left: 25px;
    float: right; /* Выравнивание по левому краю */
    margin: 0px;
    z-index: 1;
    
}
img {
    vertical-align: middle;
   
}
img{
    border: 0;
    
}
section#master{
    display: grid;
    grid-template-columns: 5fr 9fr;
    gap: 60px;
   
}


.Title{
    background-color: lightblue;
    height: 20px;
    text-align: center;
    margin:20px;
}

.div-titlu h5{
    padding: 10px;
    font-size: 24px;
    
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.div-buttons div{
    cursor: pointer;
    background-color: #485a50;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 25px;
}
.Tabel1 {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 40px;
    width: 40px;
    border:1 px;
}

.Tabel1 div{
    background-color: white;
    border: 0.5px solid #33333366;
    color: white;
}

div#Dates-about-lection{
    border: 0.5px solid white;
    background-color: #25975A;
}


div#lection{
    border: 0.5px solid white;
    background-color: #1a5736;
}



.Tabel2{
    text-align: left; /*pozitia textului*/
    height: 40px;
    width: 500px;
    border:1 px;
    font-size: 10px; /*marimea scrisului*/
    float:right;
}


.rows{
    display: grid;
    grid-template-columns: 2fr 7fr;
    min-height: 10px;
    background-color: white;
    color: #333333d0;
    border: 0.5px solid #33333366;
}

.rows:hover{
    background-color: #49a775;
    color: white;   
    min-width: 50px;
}

.column1{
    color: white;
    background-color: #25975A;
    border: 0.5px solid white;
    border-right: 100 px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.column2 {
    border-left: 0;
}

.column2 p{
    margin: 5px;
}


.tabel-info{
    text-align: center;
    margin-top: 15px;
}

.tabel-info span{
    color: rgb(5, 68, 5);
    font-size: 15px; /*marimea scrisului*/
    padding: 7px; /*polea vocrug tecsta*/
    font-weight: bold;
    line-height: normal;/*distanta intre rinduri*/
}




