body{
margin: 50px;
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
font-family: 'Kaushan Script', cursive;
font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Roboto Mono', monospace;
}

.logo {
    position: absolute;
    width: 180px;
    height: 70px;
    margin-left: 25px;
    float: right; /* Выравнивание по левому краю */
    margin: 0px;
    z-index: 1;
   
}
img {
    vertical-align: middle;
   
}
img{
    border: 0;
    
}

.Title{
    border: none; /* Убираем границу */
    background-color: rgb(238, 232, 237); /* Цвет линии */
    color: rgb(0, 0, 0); /* Цвет линии для IE6-7 */
    height: 20px; /* Толщина линии */
    height: 20px;
    text-align: center;
    margin:20px;
    margin-top: 100px;
    font-weight: bold;
    border-left: 2px solid rgb(20, 19, 19); /* Параметры линии */ 
    margin-left: 30px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
    border-right: 2px solid rgb(83, 76, 76); /* Параметры линии */ 
    margin-right: 30px; /* Отступ слева */
    padding-right: 10px; /* Расстояние от линии до текста */ 
}

.div-Title{
    padding: 10px;
    font-size: 50px;
    
}
section#orar{
    display: grid;
    grid-template-columns: 5fr 9fr;
    gap: 15px;
    width: 10px;
    height: 70px;
   
}




.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
}

.div-buttons div{
    cursor: pointer; /*duci cursorul il schimba*/
    background-color: #485a50;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 25px;
}
.Tabel1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 40px;
    width: 40px;
    border:1 px;
}

.Tabel1 div{
    background-color: white;
    border: 0.5px solid #33333366;
    color: white;
}

div#Dates-about-lection{
    border: 0.5px solid white;
    background-color: #25975A;
}


div#lection{
    border: 0.5px solid white;
    background-color: #1a5736;
}



.Tabel2{
    text-align: center; /*pozitia textului*/
    height: 40px;
    width: 600px;
    border:1 px;
    font-size: 12px; /*marimea scrisului*/
    float:right;
    margin-top: 0px;
}


.rows{
    display: grid;
    grid-template-columns: 2fr 7fr;
    min-height: 10px;
    background-color: white;
    color: #333333d0;
    border: 0.5px solid #33333366;
}

.rows:hover{
    background-color: #49a775;
    color: white;   
    min-width: 50px;
}

.column1{
    color: white;
    background-color: #25975A;
    border: 0.5px solid white;
    border-right: 100 px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.column2 {
    border-left: 0;
}

.column2 p{
    margin: 5px;
}


.tabel-info{
margin-top: 700px;
text-align: center;
border-left: 2px solid rgb(20, 19, 19); /* Параметры линии */ 
    margin-left: 30px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
    border-right: 2px solid rgb(83, 76, 76); /* Параметры линии */ 
    margin-right: 30px; /* Отступ слева */
    padding-right: 10px; /* Расстояние от линии до текста */ 



}

.tabel-info span{
    color: rgb(5, 68, 5);
    font-size: 15px; /*marimea scrisului*/
    padding: 7px; /*polea vocrug tecsta*/
    font-weight: bold;
    line-height: normal;/*distanta intre rinduri*/
    
    

}




